.container {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

ul {
    display: flex;
    list-style-type: none;
    opacity: 0.75;
}

li {
    margin-left: 33px;
    font-size: 14px;
    text-transform: uppercase;

}

a {
    color: #fff;
    text-decoration: none;
}



.heading {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.05px;
    color: #fff;
}


.circle {
    width: 20px;
    height: 20px;
    margin: 2px 25px 3px 0;
    border-radius: 50%;
}

.name {
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 1.36px;
    color: #fff;
}

.both {
    display: flex;
    padding: 20px;
}

.container {
    display: flex;
}

.chIcon {
    cursor: pointer;
}


@media screen and (max-width:778px) {
    ul {
        display: none;
    }

    .mobileContainer {
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width:778px) {
    ul {
        display: flex;
    }

    .mobileContainer {
        display: none;
        cursor: pointer;
    }

    .icon {
        display: none;
    }
}